<div class="container">
  <div class="form-wrapper">
    <h1>Transform</h1>

    <%= form_with(url: {action: :upload}, multipart: true, local: true) do %>
      <%= file_field_tag 'csv', accept: 'text/csv' %>
      <br>
      <%= submit_tag 'Transform' %>
    <% end %>
  </div>
</div>